<!--
 \file multi_instances.launch
 \brief Launch file for the multiple node instances test case
 \author Christophe Bedard
-->

<launch>
    <node pkg="tracecompass_ros_testcases" type="instance_node" name="instance_1" />
    <node pkg="tracecompass_ros_testcases" type="instance_node" name="instance_2" />
    <node pkg="tracecompass_ros_testcases" type="instance_node" name="instance_3" />
</launch>
