<!--
 \file pub_sub.launch
 \brief Launch file for the pub_sub test case
 \author Christophe Bedard
-->

<launch>
    <arg name="num_pubs" default="10" />

    <node pkg="tc_ros_test" type="sub_node" name="sub_node" output="screen" />

    <node pkg="tc_ros_test" type="pub_node" name="pub_node" output="screen" >
        <param name="num_pubs" type="int" value="$(arg num_pubs)" />
    </node>
</launch>